.header{
    position: absolute;
    top:0;
    right: 0;
    background: burlywood;
    width: 100%;
    height: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 3.5rem;
    text-shadow: 2px 2px black;
}