<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Item</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onSubmit(modal, addForm)" novalidate>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="string" class="form-control form-control-sm" required pattern="^[a-zA-Z0-9]+$"
                        id="name" name="name" [(ngModel)]="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" required min="0" pattern="^[0-9]+$" id="quantity"
                        name="quantity" [(ngModel)]="quantity">
                </div>
            </div>
            <div class="form-group row">
                <label for="code" class="col-sm-2 col-form-label">Inventory Code</label>
                <div class="col-sm-10">
                    <input type="string" class="form-control form-control-lg" required pattern="^[a-zA-Z0-9]+$"
                        id="code" name="inventoryCode" [(ngModel)]="inventoryCode">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
            </div>
        </form>
    </div>

</ng-template>