<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="cell-padding">#</th>
            <th scope="col" class="cell-padding">Name</th>
            <th scope="col" class="cell-padding">Quantity</th>
            <th scope="col" class="cell-padding">Inventory Code</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <th scope="row">{{ item.id }}</th>
            <td>
                {{ item.name }}
            </td>
            <td>{{ item.amount | number}}</td>
            <td>{{ item.inventoryCode }}</td>
            <td>
                <button (click)="update.open(item)" class="btn btn-success mr-2">Update</button>
                <button (click)="onDelete(item)" class=" btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshItems()">
    </ngb-pagination>

</div>
<app-update-modal #update (onUpdate)="onUpdate($event)"></app-update-modal>