<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Quantity</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="onSubmit(modal, updateForm)" novalidate>
            <div class="form-group">
                <label for="dateOfBirth">Quantity</label>
                <div class="input-group">
                    <input type="number" id="quantity" defaultValue={{item.amount}} class="form-control" required
                        min="0" pattern="^[0-9]+$" name="quantity" [(ngModel)]="quantity" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark">Update</button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
            </div>
        </form>
    </div>

</ng-template>