<div class="inventory-container">
    <button type="button" (click)="add.open()" class="btn btn-outline-dark mb-3 add-button">ADD ITEM</button>
    <app-item-table-component [items]="items" [collectionSize]="collectionSize" (deleteItem)="deleteItem($event)"
        (updateItem)="updateItem($event)" (changePage)="getItems($event)">
    </app-item-table-component>
    <app-add-item-modal #add (onAddItem)="onAddItem($event)"></app-add-item-modal>
</div>