.inventory-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    width: 80%;
    margin: auto;
}

.add-button {
    max-width: 8rem;
}
